<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R2A - Login</title>
    <link rel="stylesheet" href="../../style.css">
</head>

<body class="body">
    <div class="login_page" id="app">
        
        <main class="login_page__main">
            <form @submit.prevent="login()">
                <h3 class="login_page__heading">Log in to R2A</h3>

                <div class="input_group">
                    <label for="username" class="input_group__label">Username</label>
                    <input type="text" class="input_group__input" id="username" required v-model="username">
                </div>

                <div class="input_group">
                    <label for="password" class="input_group__label">Password</label>
                    <input type="password" class="input_group__input" required id="password" v-model="password">
                </div>

                <div class="login_page__control">
                    <!-- <a href="#" class="link">Recover your account</a> -->
                    <button class="button button--primary">Login</button>
                </div>

            </form>
        </main>
    </div>
    <script src="./app.js" type="module"></script>
</body>

</html>