<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>R2A - Dashboard</title>
  <link rel="stylesheet" href="../../style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="body">

  <main id="app" v-cloak>
    <div id="snackbar"></div>
    <div class="tab_control">
      <div class="tab_control__tab_container">
        <ul class="h-unstyle-list h-unstyle-links">
          <li>
            <a class="tab_control__tab tab_control__tab--active" href="/modules/switch/index.html">
              <i class="material-icons">toggle_on</i>
              <span>Switch</span>
            </a>
          </li>
          <li>
            <a class="tab_control__tab" href="/modules/user/index.html" v-if="isAdmin">
              <i class="material-icons">people</i>
              <span>User</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="tab_control__page" :class="sidebarSync ? 'tab_control__page--sidebar_shown' : ''">
        <nav class="nav">
          <div class="nav__top">
            <div>
              <h3 class="nav__title">
                <button class="nav__menu" @click="sidebarSync = !sidebarSync">
                  <i class="material-icons">menu</i>
                </button>
                Ads Dashboard</h3>
            </div>
            <div class="nav__account" style="padding: 0">
              <div class="nav__photo"></div>
              <h4 class="nav__user">{{ name }} &nbsp; </h4>
              <i class="material-icons" @click="logout()">
                power_settings_new
              </i>
            </div>
          </div>
          <div class="nav__bottom">
            <div>
              <label for="search">
                <i class="material-icons">search</i>
              </label>

              <input type="search" name="search" id="search" class="nav__search" placeholder="Enter keywords" v-model="search_filter">

            </div>
            <div>
              <button class="button button--responsive" @click="logSync = true">
                <i class="material-icons">list</i>
                <span>
                  Logs
                </span>
              </button>
              &nbsp;&nbsp;
              <button class="button button--primary button--responsive" @click="addModalSync = true">
                <i class="material-icons">add</i>
                <span>
                  New property
                </span>
              </button>
            </div>
          </div>
        </nav>
        <section class="main_section">
          <div class="search_cue" v-if="search_filter">Showing <b>{{filtered_properties.length}}</b> result(s) for <b>{{search_filter}}</b></div>
          <div>

            <transition-group name="slide-up" tag="div" class="main_grid">
              <div class="property_item" v-for="property in filtered_properties" :key="property._id">
                <div class="property_item__header">
                  <h4 class="property_item__site_name">{{ property.site_name }}</h4>
                  <button class="property_item__switch" @click="toggle(property._id)">
                    <i class="material-icons" :style="{color: property.active ? '#20cf9a' : '#aaaaaa'}">
                      {{ property.active ? 'toggle_on' : 'toggle_off' }}
                    </i>
                  </button>
                </div>
                <a class="property_item__body"  @click="viewProperty(property._id); analyticSync = true" style="cursor: pointer">
                  <table class="property_item__table">
                    <tr>
                      <th>Row Key:</th>
                      <td>{{ property.row_key }}</td>
                    </tr>
                    <tr>
                      <th>Site URL:</th>
                      <td>
                        <a :href="property.site_url" target="_blank" style="text-decoration: none; color: #20cf9a; opacity: 1; font-weight: bold; font-size: 0.9rem" >{{ property.site_url }}</a>
                        </td>
                    </tr>
                    <tr>
                      <th>Ads Location:</th>
                      <td>{{ property.ads_location }}</td>
                    </tr>
                    <tr>
                      <th>Status: </th>
                      <td :style="{color: property.active ? '#20cf9a' : '#dd4444', opacity: 1}">
                        <transition name="fade" mode="out-in">
                          <b :key="property.active">{{ property.active ? 'ON' : 'OFF' }}</b>
                        </transition>

                      </td>
                    </tr>
                    <tr>
                      <th>Reason:</th>
                      <td>{{ property.reason }}</td>
                    </tr>
                    <tr>
                      <th>Updated:</th>
                      <td>{{ property.updated }}</td>
                    </tr>
                  </table>
                </a>
                <div class="property_item__footer">
                  <div></div>
                  <div style="display: flex; align-items: center">
                    <button class="button button--control" style="padding: 0.5rem" @click="viewProperty(property._id); editModalSync = true">
                      <i class="material-icons">edit</i>
                    </button>
                    <button class="button button--control" @click="deleteProperty(property._id)">
                      <i class="material-icons">delete</i>
                    </button>
                  </div>

                </div>
              </div>


          </div>
          </transition>

        </section>

      </div>
    </div>

    <transition name="fade">
      <div class="modal_group" v-if="analyticSync">
        <transition name="scale" appear>
          <div class="modal_group__modal">
            <div class="modal_group__header">
              <div style="padding: 0rem 1rem">
                <br>
                <h3>{{selected_property.site_name}}</h3>
                <span style="opacity: 0.75">{{selected_property.row_key}}</span>
              </div>
              <a class="button button--marginless" @click="analyticSync = false">
                  <i class="material-icons">
                    close
                  </i>
                  <span>Close</span>
                </a>
            </div>
            <div class="modal_group__body" style="margin-top: 1rem; padding: 1rem">
              <select name="" id="" style="margin-bottom: 1rem; border: none; padding: 0.5rem 0rem; border-radius: 8px; background-color: transparent">
                <option value="">Last 30 days</option>
              </select>
              <div style="display: flex">
                <div>
                  <h1>3105</h1>
                  <p>Clicks</p>
                </div>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br>
                <div>
                  <h1 style="color: #0074d9">+200</h1>
                  <p>Since last 30 days</p>
                </div>                
              </div>
              
              <svg viewBox="0 0 500 200" class="chart" style="margin-top: 1rem;">
                  <polyline
                     fill="none"
                     stroke="#0074d9"
                     stroke-width="5"
                     stroke-linecap="round"
                     points="
                       5,160
                       120,120
                       160,140
                       200, 80
                       250,140
                       300,100
                       350,120
                       450,5
                       "/>
                </svg>
                <div style="display: flex; justify-content: space-between">
                  <span>Jul 1</span>
                  <span>Jul 5</span>
                  <span>Jul 10</span>
                  <span>Jul 15</span>
                  <span>Jul 20</span>
                  <span>Jul 25</span>
                  <span>Jul 30</span>
                </div>
            </div>
            <div class="modal_group__footer">

            </div>
          </div>
        </transition>
      </div>
    </transition>
    <transition name="fade">
      <div class="modal_group" v-if="logSync">
        <transition name="scale" appear>
          <div class="modal_group__modal" style="max-width: 50rem">
            <div class="modal_group__header">
              <h3>Logs</h3>
              <a class="button button--marginless" @click="logSync = false">
                <i class="material-icons">
                  close
                </i>
                <span>Close</span>
              </a>
            </div>
            <div class="modal_group__body">
              <table class="logs" cellspacing="0">
                <tr>
                  <th>Name</th>
                  <th>Site name</th>
                  <th>Action</th>
                  <th>Date</th>
                </tr>
                <tr v-for="log in logs">
                  <td>{{log.name}}</td>
                  <td>{{log.site_name}}</td>
                  <td>{{log.action}}</td>
                  <td>{{log.date}}</td>
                </tr>
              </table>
            </div>
            <div class="modal_group__footer"></div>

          </div>
        </transition>
      </div>
    </transition>

    <transition name="fade">
      <div class="modal_group" v-if="addModalSync">
        <transition name="scale" appear>
          <div class="modal_group__modal">
            <form @submit.prevent="addProperty(); addModalSync = false;;">
              <div class="modal_group__header">
                <h3>New Property</h3>
                <a class="button button--marginless" @click="addModalSync = false">
                  <i class="material-icons">
                    close
                  </i>
                  <span>Close</span>
                </a>
              </div>
              <div class="modal_group__body">

                <div class="input_group">
                  <label for="Category" class="input_group__label">
                    Category
                  </label>
                  <select class="input_group__input" id="type" v-model="selected_property.category" required>
                    <option value="Lifestyle">Lifestyle</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="News">News</option>
                    <option value="Sports">Sports</option>
                  </select>
                </div>
                <div class="input_group">
                  <label for="site_name" class="input_group__label">
                    Site name
                  </label>
                  <input type="text" class="input_group__input" id="site_name" placeholder="ABS-CBN News" v-model="selected_property.site_name"
                    required>
                </div>
                <div class="input_group">
                  <label for="row_key" class="input_group__label">
                    Row Key
                  </label>
                  <input type="text" class="input_group__input" id="row_key" placeholder="abs-cbn-news" v-model="selected_property.row_key"
                    required>
                </div>
                <div class="input_group">
                  <label for="site_url" class="input_group__label">
                    Site URL
                  </label>
                  <input type="url" class="input_group__input" id="site_url" placeholder="https://news.abs-cbn.com"
                    v-model="selected_property.site_url" required>
                </div>
                <div class="input_group">
                  <label for="ads_location" class="input_group__label">
                    Ads Location
                  </label>
                  <select class="input_group__input" id='ads_location' v-model="selected_property.ads_location"
                    required>
                    <option value="Banner">Banner (468 x 60)</option>
                    <option value="Skyscraper">Skyscraper (120 x 600)</option>
                    <option value="Big Banner">Big Banner (250 x 250)</option>
                    <option value="Rectangle">Rectangle (300 x 100)</option>
                    <option value="Vertical Rectangle">Vertical Rectangle (240 x 400)</option>
                    <option value="Wide Skyscraper">Wide Skyscraper (160 x 600)</option>
                    <option value="Leaderboard">Leaderboard (728 x</option>
                  </select>
                </div>


              </div>
              <div class="modal_group__footer">
                <div></div>
                <div>
                  <button type="submit" class="button button--primary" style="margin-top: 1rem">Create new property</button>
                </div>

              </div>
            </form>
          </div>
        </transition>
      </div>
    </transition>

    <transition name="fade">
      <div class="modal_group" v-if="editModalSync">
        <transition name="scale" appear>
          <div class="modal_group__modal">
            <div class="modal_group__header">
              <h3>Edit Property</h3>
              <button class="button button--marginless" @click="editModalSync = false">
                <i class="material-icons">
                  close
                </i>
                <span>Close</span>
              </button>
            </div>
            <div class="modal_group__body">

              <div class="input_group">
                <label for="Category" class="input_group__label">
                  Category
                </label>
                <select class="input_group__input" id="type" v-model="selected_property.category" required>
                  <option value="Lifestyle">Lifestyle</option>
                  <option value="Entertainment">Entertainment</option>
                  <option value="News">News</option>
                  <option value="Sports">Sports</option>
                </select>
              </div>
              <div class="input_group">
                <label for="site_name" class="input_group__label">
                  Site name
                </label>
                <input type="text" class="input_group__input" id="site_name" placeholder="ABS-CBN News" v-model="selected_property.site_name"
                  required>
              </div>
              <div class="input_group">
                <label for="row_key" class="input_group__label">
                  Row Key
                </label>
                <input type="text" class="input_group__input" id="row_key" placeholder="abs-cbn-news" v-model="selected_property.row_key"
                  required>
              </div>
              <div class="input_group">
                <label for="site_url" class="input_group__label">
                  Site URL
                </label>
                <input type="url" class="input_group__input" id="site_url" placeholder="https://news.abs-cbn.com"
                  v-model="selected_property.site_url" required>
              </div>
              <div class="input_group">
                <label for="ads_location" class="input_group__label">
                  Ads Location
                </label>
                <select class="input_group__input" id='ads_location' v-model="selected_property.ads_location" required>
                  <option value="Banner">Banner (468 x 60)</option>
                  <option value="Skyscraper">Skyscraper (120 x 600)</option>
                  <option value="Big Banner">Big Banner (250 x 250)</option>
                  <option value="Rectangle">Rectangle (300 x 100)</option>
                  <option value="Vertical Rectangle">Vertical Rectangle (240 x 400)</option>
                  <option value="Wide Skyscraper">Wide Skyscraper (160 x 600)</option>
                  <option value="Leaderboard">Leaderboard (728 x</option>
                </select>
              </div>


            </div>
            <div class="modal_group__footer">
              <div></div>
              <button class="button button--primary" style="margin-top: 1rem" @click="updateSelectedProperty(); editModalSync = false">Update</button>
            </div>
        </transition>
      </div>
    </transition>

  </main>

  <script src="./app.js" type="module"></script>


</body>

</html>
